
._global_style_
{
	font-size: 12px !important;
	font-family: courier !important;
	text-size-adjust: none !important;

}

.global_resp
{
	/* global_resp 는 body 에 추가된 클래스 입니다. */

}

/*가로모드*/
@media screen and (orientation: landscape)
{
	.global_resp
	{
	}
}

/*ios*/
@supports (-webkit-overflow-scrolling: touch)
{
}

/*tablet*/
@media screen and (min-width:641px)
{
}

.hover_text
{
	cursor: pointer !important;
}

.hover_text:hover {
	text-decoration: underline !important;
}

.before_dark
{
	overflow: hidden !important;
	cursor: pointer !important;
}

.before_dark:hover:before {
	content: "" !important;
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: gray !important;
	opacity: 0.3 !important;
}

.hover_image
{
}

.text_before
{
	
}

.text_before::before {
	content: "" !important;
    display: inline-block !important;
    width: 1px !important;
    height: 12px !important;
    background-color: #d3d5d7
    background-color: var(--color_dot_divider) !important;
    margin: 0 10px !important;
    vertical-align: -1px !important;
}

.before_content_slash
{
	
}

.before_content_slash {
	content: "/"
    display: inline-block !important;
    width: 1px !important;
    height: 12px !important;
    background-color: #d3d5d7
    background-color: var(--color_dot_divider) !important;
    margin: 0 16px !important;
    vertical-align: -1px !important;
}

.img_SizeUp
{
	transition: all 0.3s ease-out !important;
}

.img_SizeUp:hover {
	cursor: pointer !important;
	transform: scale(1.1) !important;
}

.radius
{
	border-radius: 10px !important;
}

.hover_cursor
{
}

.hover_cursor {
	cursor: pointer !important;
}

